form {
    max-width: 300px;
    margin: 0 auto;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s, transform 0.3s; /* Añade transiciones suaves para el borde y el tamaño */
}

input[type="text"]:focus,
input[type="number"]:focus {
    border: 2px solid transparent; /* Desvanece el borde */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Añade transición suave para el color de fondo */
}

input[type="submit"]:hover {
    background-color: transparent; /* Pierde el color de fondo al pasar el cursor sobre el botón */
    color: #4CAF50; /* Cambia el color del texto */
}