.negrita{
    font-weight: bold ;
}

.kodak{
    font-weight: bold;
    color: #FFC433;
}

.fondoblau{
    background-color: #3349FF;
    color: white;
}

.fondoverd{
    background-color: #33FF58;
    color: white;
}

.lletralila{
    color: #AC33FF;
}