.sol {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.luna {
    width: 80px;
    height: 80px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: eclipse 3s infinite; 
}

@keyframes eclipse {
    0%, 100% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.5); 
    }
}