
.noria {
    width: 200px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #e87e33;
    border-radius: 50%;
    overflow: hidden;
    animation: giraNoria 20s linear infinite; 
}


@keyframes giraNoria {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}