.pendulo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.cuerda {
    background-color: #333;
    height: 300px;
    width: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.cuerda {
    transform-origin: 50% 100%;
    animation: oscilar 2s ease-in-out infinite;
}

@keyframes oscilar {
    0%, 100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }
}